
{%- comment -%}
  Check if cart contains items that cant be dispatched same day
{%- endcomment -%}
{% assign disable_same_day = false %}
{% for item in cart.items %}
  {% for tag in item.product.tags %}
    {% assign tag_check = tag | downcase %}
    {% if tag_check contains 'pallet' or tag_check contains 'dispatch_' %}
      {% assign disable_same_day = true %}
    {% endif %}
  {% endfor %}
{% endfor %}

{%- assign hours = cut_off_time | split: ':' | first -%}
{%- assign minutes = cut_off_time | split: ':' | last -%}

{% unless disable_same_day %}
  {%- if enable_timer -%}
    <countdown-timer class="countdown-banner {% if cart_timer %}cart-timer{% endif %}" data-hours="{{ hours }}" data-minutes="{{ minutes }}">
      {{ banner_text }}  
      <p class="time" data-countdown-time></p>
      {% if right_text != blank %}
        <span {% if cart_timer %}class="cart-span"{% endif %}>{{ right_text }}</span>
      {% endif %}
    </countdown-timer>
  {%- endif -%}
{% endunless %}