@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply font-inter;
  @apply text-1.6;
  @apply text-black;
}

h1, h2, h3, h4, h5, h6 {
  @apply font-semibold;
  @apply text-black;
  @apply my-12;
}

a { 
  @apply text-inherit;
}

h1,
.h1 {
  @apply text-[min(max(32px,5vw),28px)];
}

h2,
.h2 {
  @apply text-[min(max(25px,4vw),24px)];
}

h3,
.h3 {
  @apply text-[min(max(22px,3vw),20px)];
}

h4,
.h4 {
  @apply text-[min(max(20px,2vw),18px)];
}

h5,
.h5 {
  @apply text-[min(max(18px,1vw),16px)];
}

h6,
.h6 {
  @apply text-1.6;
}

small {
  @apply text-[13px];
}

.field label {
  @apply text-1.6 text-black mb-4;
}

input {
  @apply text-1.6;
  &[aria-invalid="true"] {
    @apply border-[#C95525] border-2 !important;
  }
}

/* Countdown Timer */
.countdown-banner {
  @apply py-4 flex items-center justify-center text-white text-1.3;
}
.countdown-banner .time {
  @apply ml-4 text-white font-semibold text-1.2;
}

.countdown-banner .time span {
  @apply p-2 mr-2 bg-white rounded text-brand-blue;
}
.countdown-banner .cart-span {
  @apply block mt-4 text-center basis-full;
}
.countdown-banner strong {
  @apply mr-1;
}

.countdown-banner.cart-timer {
  @apply flex-wrap items-center p-16 rounded-lg;
}

@media screen and (min-width: 768px) {
  .countdown-banner.cart-timer {
    @apply text-1.3;
  }
}  

.countdown-banner.cart-timer .time {
  @apply my-2;
}

.countdown-banner.cart-timer .time span{
  @apply px-3 py-2 mr-1 text-white bg-transparent border border-white rounded;
}

@media screen and (min-width: 768px) {
  .countdown-banner.cart-timer .time {
    @apply ml-2;
  }
}

.section-heading {
  @apply relative inline-block m-0;
}

.section-heading:after {
  content: '';
  @apply -bottom-5 left-0 absolute h-[2px] border-b-2 border-[#FF9016] w-full;
}

.product-tab {
  @apply mb-0;
}

.heading--wrapper {
  @apply pb-4 mb-8;
}

.heading--wrapper,
.featured-products {
  border-width: 0 0 2px 0; /* no shorthand for border widths */  
  @apply border-solid border-[#EEEEEE];
}

.featured-products {
  .product-tab:has(input:not(:checked)) {
    @apply opacity-25;
  }

  .product-tab::after:has(input:not(:checked)) {
    @apply border-[#EEEEEE];
  }

  @apply pb-4;
}

.light-shadow {
  box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.10);
}

.zooomywishlistgridclass {
  @apply justify-center;
}

.ZoomyWishlistPageGrid {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#ZoomyWishlistPage a {
  width: 200px;
  display: block;
  margin: auto;
}

.ZoomyWishlistPageGrid .zbodytitle a {
  width: 100% !important;
}

.search__button {
  border-radius: 0 4px 4px 0;
}

/*================ Dropdowns ================*/
li {
  padding: 2.5rem 0;
  position: unset;
}

li.site-nav__top-level:focus,
li.site-nav__top-level:hover {
  outline: none;
}

.site-nav__link--main {
  font-size: 1.6rem;
}

li a {
  text-decoration: none;
}

li a:focus,
li a:hover,
li a:active {
  color: #000;
}

.site-nav__label {
  border-bottom: none;
}


.site-nav__link:focus,
.site-nav__link:hover {
  outline: none;
}

.site-nav__dropdown {
  left: 0;
  right: 0;
  top: 125px !important;
  background: rgba(255, 255, 255, .8);
  backdrop-filter: blur(20px) brightness(2);
}

.site-nav__childlist {
  width: 100%;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
}

.site-nav__childlist-grid {
  flex-basis: 25%;
  background: #F8F8F8;
  display: flex;
  flex-direction: column;
}

.third-level__dropdown--group {
  flex-basis: 75%;
}

.menu-item ul li {
  width: 100%;
  display: block;
  padding: 0;
  font-size: 16px;
}

.site-nav__child-link {
  padding: 10px 30px 10px;
  margin: 0;
  background: #F8F8F8;
  transition: background .2s ease-in-out;
  display: block;
  font-size: 16px;
}

.site-nav__child-link:hover {
  background: #e6e6e6;
}

.third-level__dropdown {
  padding: 20px;
  display: none;
}

.third-level__dropdown.active {
  display: block;
}

.third-level__dropdown ul {
  display: flex;
  flex-wrap: wrap;
}

.link-group {
  flex-basis: 25%;
  margin-bottom: 20px;
}

.child-link {
  font-weight: 600;
}

.grandchild-list {
  margin-top: 10px;
}