<div class="icon-cart__container">
  {%- render 'icon-cart' -%}
</div>
<span class="visually-hidden">{{ 'templates.cart.cart' | t }}</span>
{%- if cart != empty -%}
  <div class="cart-count-bubble">
    {%- if cart.item_count < 100 -%}
      <span aria-hidden="true">{{ cart.item_count }}</span>
    {%- endif -%}
    <span class="visually-hidden">{{ 'sections.header.cart_count' | t: count: cart.item_count }}</span>
  </div>
{%- endif -%}
<div class="hidden md:block border-l border-black ml-8 mr-4">
  <p class="text-1.2 text-brand-light-blue font-normal my-0">{{ cart.original_total_price  | money_without_trailing_zeros }}</p>
</div>