<div class="bg-[#F8F8F8]">
  <div class="max-w-[1700px] mx-auto px-0 md:px-20">
    <div class="flex items-start max-w-screen-sm py-6 m-auto overflow-hidden overflow-x-auto text-left lg:max-w-none whitespace-nowrap justify-evenly md:justify-start">
      {%- for block in section.blocks -%}
        <a href="{{ block.settings.url }}" class="text-[#777] hover:text-[#000] transition-colors no-underline text-1.2 {% if forloop.index == 1 %}ml-6 sm:ml-0 font-bold text-black uppercase {% endif %}mr-8">{{ block.settings.text }}</a>
      {%- endfor -%}
    </div>
  </div>
</div>

{% schema %}
{
  "name": "Header Quicklinks",
  "settings": [],
  "blocks": [
    {
      "type": "quicklink",
      "name": "Quicklink",
      "settings": [
        {
          "type": "text",
          "id": "text",
          "label": "Text",
          "default": "Text"
        },
        {
          "type": "url",
          "id": "url",
          "label": "URL"
        }
      ]
    }
  ],
  "presets": [
    {
      "category": "Header",
      "name": "Header Quicklinks"
    }
  ]
}
{% endschema %}