<div class="page-width">
  <section class="grid grid-cols-2 gap-8 border-b md:grid-cols-4 border-grey-500 py-8">
    <button class="button">Default Button</button>
    <button class="button button--secondary">Secondary Button</button>
    <button class="button button--outline">Outline Button</button>
    <button class="button" disabled>Disabled Button</button>
    <button class="button button--large">Large Button</button>
    <button class="button button--small">Small Button</button>
  </section>
  <section class="grid grid-cols-1 gap-8 border-b md:grid-cols-2 border-grey-500 py-8">
    <div>
      <div class="field">
        <label class="field__label" for="ContactForm-name">Input</label>
        <input
          class="field__input"
          autocomplete="name"
          type="text"
          id="ContactForm-name"
          name="contact"
          placeholder="Value"
        >
      </div>
    </div>
    <div>
      <label class="form__label" for="Option">
        Select
      </label>
      <div class="select">
        <select
          id="Option"
          class="select__select"
          name="options"
          form=""
        >
          <option>Value</option>
          <option>Value</option>
          <option>Value</option>
          <option>Value</option>
        </select>
        {% render 'icon-caret' %}
      </div>
    </div>
  </section>
  <section class="grid grid-cols-1 gap-8 border-b md:grid-cols-3 border-grey-500 py-8">
    <div >
      <h1>Heading One</h1>
      <h2>Heading Two</h2>
      <h3>Heading Three</h3>
      <h4>Heading Four</h4>
      <h5>Heading Five</h5>
      <h6>Heading Six</h6>
    </div>
    <div >
      <div class="rte">
        <p>Lorem ipsum dolor sit amet habitasse nisl phasellus. Nec ac sapien viverra lacinia luctus suspendisse id. Vestibulum dictum erat scelerisque donec tempor nisi duis aliquet condimentum maecenas labore neque. Volutpat venenatis enim eget facilisis lacinia ornare aliquet eu. <a href="#">Platea</a> eros aliquet sodales molestie odio feugiat cras pretium molestie consectetur est magna.</p>
        <p><small>Lorem ipsum dolor sit amet habitasse nisl phasellus. Nec ac sapien viverra lacinia luctus suspendisse id. Vestibulum dictum erat scelerisque donec tempor nisi duis aliquet condimentum maecenas labore neque. Volutpat venenatis enim eget facilisis lacinia ornare aliquet eu. Platea eros aliquet sodales molestie odio feugiat cras pretium molestie consectetur est magna.</small></p>
        <p class="lead">Lorem ipsum dolor sit amet habitasse nisl phasellus. Nec ac sapien viverra lacinia luctus suspendisse id. Vestibulum dictum erat scelerisque donec tempor nisi duis aliquet condimentum maecenas labore neque. Volutpat venenatis enim eget facilisis lacinia ornare aliquet eu. Platea eros aliquet sodales molestie odio feugiat cras pretium molestie consectetur est magna.</p>
        <p><a href="#">Lorem ipsum dolor sit amet habitasse nisl phasellus.</a> Nec ac sapien viverra lacinia luctus suspendisse id. Vestibulum dictum erat scelerisque donec tempor nisi duis aliquet condimentum maecenas labore neque. Volutpat venenatis enim eget facilisis lacinia ornare aliquet eu. Platea eros aliquet sodales molestie odio feugiat cras pretium molestie consectetur est magna.</p>
      </div>
    </div>
    <div >
      <div class="rte">
        <p><strong>Lorem ipsum dolor sit amet, consectetur adipiscing</strong> <a href="#">elit</a>. Duis et consectetur elit. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Aliquam mollis facilisis nulla sit amet blandit. Nunc tincidunt at arcu fringilla blandit. Proin vestibulum lectus eget velit condimentum egestas. Aliquam vitae felis euismod, imperdiet sapien dignissim, tincidunt tortor. Donec nunc turpis, blandit et dui at, facilisis iaculis sem. Maecenas rutrum imperdiet tortor, ut mollis arcu sollicitudin sed. Phasellus velit elit, pulvinar at justo id, congue interdum sem.</p>
      </div>
    </div>
  </section>
  <section class="grid grid-cols-1 gap-8 border-b md:grid-cols-2 border-grey-500 py-8">
    <div class="rte">
      <ul>
        <li>Item</li>
        <li>Item</li>
        <li>Item</li>
        <li>Lorem ipsum dolor sit amet egestas euismod vitae platea turpis interdum at convallis semper. Quisque mattis lacinia convallis faucibus tristique ultricies aliquam porttitor lectus nullam ultricies justo maecenas. Sagittis elementum eget adipiscing nunc augue luctus est. Lacus do nullam urna scelerisque massa est ultrices. Semper risus pretium quisque nibh gravida nulla mauris quis nibh pharetra.</li>
      </ul>
    </div>
    <div class="rte">
      <ol>
        <li>Item</li>
        <li>Item</li>
        <li>Item</li>
        <li>Lorem ipsum dolor sit amet egestas euismod vitae platea turpis interdum at convallis semper. Quisque mattis lacinia convallis faucibus tristique ultricies aliquam porttitor lectus nullam ultricies justo maecenas. Sagittis elementum eget adipiscing nunc augue luctus est. Lacus do nullam urna scelerisque massa est ultrices. Semper risus pretium quisque nibh gravida nulla mauris quis nibh pharetra.</li>
      </ol>
    </div>
  </section>
  <section class="grid grid-cols-1 gap-8 border-b md:grid-cols-2 border-grey-500 py-8">
    <div class="rte">
      <figure>
        <svg width="60" height="45" viewBox="0 0 60 45" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path id="Vector" d="M3.96727 40.2003L0 44.9999V13.9682C0 6.18844 6.42378 -0.107199 14.3062 -5.62327e-05C22.1887 0.107087 28.1035 6.24399 28.2097 13.7678C28.2859 19.1626 25.2723 23.869 20.8081 26.2599C14.3162 29.74 8.64184 34.5416 3.96527 40.1984L3.96727 40.2003ZM52.5984 26.2618C57.0606 23.871 60.0741 19.1646 60 13.7698C59.8938 6.24598 53.6924 0.105102 46.0945 -5.62327e-05C38.4966 -0.105215 31.7883 6.18645 31.7883 13.9682V44.9999L35.7555 40.2003C40.4321 34.5436 46.1065 29.74 52.5984 26.2618Z" fill="#FF9016"/>
        </svg>
        <blockquote cite="http://www.worldwildlife.org/who/index.html">
          For 50 years, WWF has been protecting the future of nature. The world's leading conservation organization, WWF works in 100 countries and is supported by 1.2 million members in the United States and close to 5 million globally.
        </blockquote>
        <figcaption>John Doe</figcaption>
      </figure>
    </div>
    <div class="rte">
      <table style="width: 100%;">
        <tr>
          <th style="width: 50%;">Title</th>
          <th style="width: 50%;">Title</th>
        </tr>
        <tr>
          <td style="width: 50%;">Item</td>
          <td style="width: 50%;">Item</td>
        </tr>
        <tr>
          <td style="width: 50%;">Item</td>
          <td style="width: 50%;">Item</td>
        </tr>
        <tr>
          <td style="width: 50%;">Item</td>
          <td style="width: 50%;">Item</td>
        </tr>
      </table>
    </div>
  </section>
</div>