<div class="page-width">
  <section class="grid grid-cols-2 gap-8 border-b md:grid-cols-4 border-grey-500 py-8">
    <button class="button">Default Button</button>
    <button class="button button--secondary">Secondary Button</button>
    <button class="button button--outline">Outline Button</button>
    <button class="button" disabled>Disabled Button</button>
    <button class="button button--large">Large Button</button>
    <button class="button button--small">Small Button</button>
  </section>
  <section class="grid grid-cols-1 gap-8 border-b md:grid-cols-2 border-grey-500 py-8">
    <div>
      <div>
        <label class="field__label" for="ContactForm-name">Input</label>
        <input
          class="field__input"
          autocomplete="name"
          type="text"
          id="ContactForm-name"
          name="contact"
          placeholder="Value"
        >
      </div>
    </div>
    <div>
      <label class="form__label" for="Option">
        Select
      </label>
      <div class="select">
        <select
          id="Option"
          class="select__select"
          name="options"
          form=""
        >
          <option>Value</option>
          <option>Value</option>
          <option>Value</option>
          <option>Value</option>
        </select>
        {% render 'icon-caret' %}
      </div>
    </div>
  </section>
  <section class="grid grid-cols-1 gap-8 border-b md:grid-cols-3 border-grey-500 py-8">
    <div >
      <h1>Heading One</h1>
      <h2>Heading Two</h2>
      <h3>Heading Three</h3>
      <h4>Heading Four</h4>
      <h5>Heading Five</h5>
      <h6>Heading Six</h6>
    </div>
    <div >
      <div class="rte">
        <p>Lorem ipsum dolor sit amet habitasse nisl phasellus. Nec ac sapien viverra lacinia luctus suspendisse id. Vestibulum dictum erat scelerisque donec tempor nisi duis aliquet condimentum maecenas labore neque. Volutpat venenatis enim eget facilisis lacinia ornare aliquet eu. <a href="#">Platea</a> eros aliquet sodales molestie odio feugiat cras pretium molestie consectetur est magna.</p>
        <p><small>Lorem ipsum dolor sit amet habitasse nisl phasellus. Nec ac sapien viverra lacinia luctus suspendisse id. Vestibulum dictum erat scelerisque donec tempor nisi duis aliquet condimentum maecenas labore neque. Volutpat venenatis enim eget facilisis lacinia ornare aliquet eu. Platea eros aliquet sodales molestie odio feugiat cras pretium molestie consectetur est magna.</small></p>
        <p class="lead">Lorem ipsum dolor sit amet habitasse nisl phasellus. Nec ac sapien viverra lacinia luctus suspendisse id. Vestibulum dictum erat scelerisque donec tempor nisi duis aliquet condimentum maecenas labore neque. Volutpat venenatis enim eget facilisis lacinia ornare aliquet eu. Platea eros aliquet sodales molestie odio feugiat cras pretium molestie consectetur est magna.</p>
        <p><a href="#">Lorem ipsum dolor sit amet habitasse nisl phasellus.</a> Nec ac sapien viverra lacinia luctus suspendisse id. Vestibulum dictum erat scelerisque donec tempor nisi duis aliquet condimentum maecenas labore neque. Volutpat venenatis enim eget facilisis lacinia ornare aliquet eu. Platea eros aliquet sodales molestie odio feugiat cras pretium molestie consectetur est magna.</p>
      </div>
    </div>
    <div >
      <div class="rte">
        <p><strong>Lorem ipsum dolor sit amet, consectetur adipiscing</strong> <a href="#">elit</a>. Duis et consectetur elit. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Aliquam mollis facilisis nulla sit amet blandit. Nunc tincidunt at arcu fringilla blandit. Proin vestibulum lectus eget velit condimentum egestas. Aliquam vitae felis euismod, imperdiet sapien dignissim, tincidunt tortor. Donec nunc turpis, blandit et dui at, facilisis iaculis sem. Maecenas rutrum imperdiet tortor, ut mollis arcu sollicitudin sed. Phasellus velit elit, pulvinar at justo id, congue interdum sem.</p>
      </div>
    </div>
  </section>
  <section class="grid grid-cols-1 gap-8 border-b md:grid-cols-3 border-grey-500 py-8">
    <div >
      <hr/>
    </div>
    <div >
      <div class="rte">
        <ul>
          <li>Item</li>
          <li>Item</li>
          <li>Item</li>
          <li>Lorem ipsum dolor sit amet egestas euismod vitae platea turpis interdum at convallis semper. Quisque mattis lacinia convallis faucibus tristique ultricies aliquam porttitor lectus nullam ultricies justo maecenas. Sagittis elementum eget adipiscing nunc augue luctus est. Lacus do nullam urna scelerisque massa est ultrices. Semper risus pretium quisque nibh gravida nulla mauris quis nibh pharetra.</li>
        </ul>
      </div>
    </div>
    <div >
      <div class="rte">
        <ol>
          <li>Item</li>
          <li>Item</li>
          <li>Item</li>
          <li>Lorem ipsum dolor sit amet egestas euismod vitae platea turpis interdum at convallis semper. Quisque mattis lacinia convallis faucibus tristique ultricies aliquam porttitor lectus nullam ultricies justo maecenas. Sagittis elementum eget adipiscing nunc augue luctus est. Lacus do nullam urna scelerisque massa est ultrices. Semper risus pretium quisque nibh gravida nulla mauris quis nibh pharetra.</li>
        </ol>
      </div>
    </div>
  </section>
  <section class="grid grid-cols-1 gap-8 border-b md:grid-cols-2 border-grey-500 py-8">
    <div class="rte">
      <figure>
        <blockquote cite="http://www.worldwildlife.org/who/index.html">
          For 50 years, WWF has been protecting the future of nature. The world's leading conservation organization, WWF works in 100 countries and is supported by 1.2 million members in the United States and close to 5 million globally.
        </blockquote>
        <figcaption>John Doe</figcaption>
      </figure>
    </div>
    <div class="rte">
      <table style="width: 100%;">
        <tr>
          <th style="width: 50%;">Title</th>
          <th style="width: 50%;">Title</th>
        </tr>
        <tr>
          <td style="width: 50%;">Item</td>
          <td style="width: 50%;">Item</td>
        </tr>
        <tr>
          <td style="width: 50%;">Item</td>
          <td style="width: 50%;">Item</td>
        </tr>
        <tr>
          <td style="width: 50%;">Item</td>
          <td style="width: 50%;">Item</td>
        </tr>
      </table>
    </div>
  </section>
</div>