<div id='ZoomyWishlistPage' style="display:none"></div>
<script src='https://zooomyapps.com/wishlist/ListWishlist.js' data-shop-id='{{shop.permanent_domain}}' data-customer-id='{{customer.id}}' data-customer-email='{{customer.email}}'></script>
<script>
    document.addEventListener('DOMContentLoaded', function() {
        setTimeout(function() {
            document.querySelectorAll('.ZoomyWishlistPageGrid img').forEach(function(img) {
                if (!img.src.includes('cdn/shop')) {
                    img.src = '/cdn/shop/' + img.getAttribute('src');
                }
            });
            document.getElementById('ZoomyWishlistPage').style.display = 'block';
        }, 300);
    });
</script>
